@font-face {
  font-family: "Autour One";
  src: url("/assets/fonts/AutourOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
