name: Code Quality

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      # PREPARE
      - uses: actions/checkout@v6.0.1
      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.1.0
      - name: Install dependencies
        run: npm install
        working-directory: .

      # LINT
      - name: Lint
        run: npm run lint
        working-directory: .
